#set($subject = "$esc.html($device.name): تجاوز السرعة المحددة")
#if($speedUnit == "kmh")
#set($speedValue = $position.speed * 1.852)
#set($speedString = $numberTool.format('0.0 km/h', $speedValue))
#elseif($speedUnit == "mph")
#set($speedValue = $position.speed * 1.15078)
#set($speedString = $numberTool.format('0.0 mph', $speedValue))
#else
#set($speedString = $numberTool.format('0.0 kn', $position.speed))
#end
#set($digest = "$device.name تجاوز السرعة $speedString#{if}($geofence) في $geofence.name#{else}#{end} في $dateTool.format('yyyy-MM-dd HH:mm:ss', $event.eventTime, $locale, $timezone)")
<!DOCTYPE html>
<html dir="rtl" lang="ar">
<body>
الجهاز: $esc.html($device.name)<br>
تجاوز السرعة: $speedString#{if}($geofence) في $esc.html($geofence.name)#{else}#{end}<br>
الوقت: $dateTool.format('yyyy-MM-dd HH:mm:ss', $event.eventTime, $locale, $timezone)<br>
الموقع: <a href="$webUrl/event/$event.id">#{if}($position.address)$position.address#{else}$position.latitude&deg;, $position.longitude&deg;#{end}</a><br>
<br>
<a href="$webUrl/settings/notifications?token=$token">إلغاء الاشتراك</a>
</body>
</html>
