#set($subject = "إعادة تعيين كلمة المرور")
#set($digest = "رابط إعادة تعيين كلمة المرور: $webUrl/reset-password?passwordReset=$token")
<!DOCTYPE html>
<html dir="rtl" lang="ar">
<body>
لإعادة تعيين كلمة المرور، يرجى النقر على الرابط التالي:<br>
<a href="$webUrl/reset-password?passwordReset=$token">$webUrl/reset-password?passwordReset=$token</a><br>
</body>
</html>
